<ion-row>
  <ion-col size="12">
    <div>
      <ion-item>
        <ion-label>Number of Items</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
  </ion-col>

  <ion-col size="12">
    <div>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              Auto Manufacturers
            </ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Cord</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Duesenberg</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Hudson</ion-label>
            <ion-radio value="hudson"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Packard</ion-label>
            <ion-radio value="packard"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Studebaker</ion-label>
            <ion-radio value="studebaker"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </ion-col>

  <ion-col size="12">
    <div>
      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
      </ion-item>
    </div>
  </ion-col>

</ion-row> 