
.client{
    margin: 0 auto;
    padding: 4rem 10px;
    width: 330px;
}

.login{
    width: 100%;
}

.padding{
    padding: 4rem 10px;
}

.bigtxt{
    text-align: left;
    margin: 0;
    padding-left: 0.3em;
    font-size: 2.4em;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.primary_color{
    color: #1cb74b;
}

.secondary_color{
    color: black;
}

.quest_small{
    font-size: 0.4em !important;
}

.back_btn{
    margin-top: 2em;
    padding-left: 0;
    color: #000;
}

.button-native{
    padding-left: 0 !important;
}

.next_btn{
    margin: 2em;
    float: right;
    color: #1cb74b;
}


.prev_btn{
    margin: 2em;
    float: left;
    color: #9a9a9a;
}
.label{
    color: #707070;
}

.field{
    margin-top: 0.8em;
}


.country{
    font-size: 12px;
}

.countrycode{
    font-size: 12px;
}

.countdiv{
    margin-top: 10px;
}


.bigtxt{
    text-align: left;
    margin: 0;
    padding-left: 0.3em;
    font-size: 2.1em;
    margin-bottom: 0em;
    font-weight: 800;
}

.bigtxt_subtext{
    text-align: left;
    margin: 0;
    font-size: 1em;
    margin-bottom: 0em;
    padding-left: 0.7em;
}

.total_text{
    font-size: 1.4em;
    margin-top: 0.8em;
}

.car_icon{
    height: 2.5em;    
    margin-right: 1em;
}

.car_item{
    width: 18em;
}

.car_item_center{
    text-align: center;
}

.change_btn{
    float: right;
    margin-top: 0.4em;
    font-size: 1.2;
    border-radius: 5px;
    padding: 0.2em 1em;
    background: transparent;
    border: 1px solid #25ba52;
}