<ion-header>
  <ion-toolbar>
    <ion-title>
      <img  class="logo" src="assets/imgs/logo_outline.png" alt="logo">
      <!-- <b>movl<span class="primary_color">o</span>g</b> -->
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="getsearchbar()">
        <ion-icon slot="icon-only" id="notify" src="assets/icon/search.svg"></ion-icon>
      </ion-button> -->
      
      <ion-button class="menu_btn" (click)="getsetings()" >
        <ion-icon name="ios-contact"></ion-icon>
        <!-- <ion-icon slot="icon-only" id="notify" name="more"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <!-- <div class="social scrolling-wrapper" *ngIf="livechats">
    <div class="nochats" *ngIf="!livechats">No Live Chat(s) <ion-icon slot="icon-only" src="assets/icon/chat.svg">
      </ion-icon>
    </div>
    <ion-col size="2" class="card" *ngFor="let chat of livechats">
      <ion-avatar class="livechats" (click)="chats(chat?.REQ_CODE,chat?.REQ_REQUESTOR_CODE)">
        <div *ngIf="chat?.REQ_MESSAGE_COUNT!='0'" class="notify"></div>
        <img shadow id="chatimg" [src]="jobImageUrl + chat?.REQ_PHOTO" (error)="chatimg.src='assets/imgs/default.jpg'"
          #chatimg>
      </ion-avatar>
    </ion-col>
  </div> -->

  <div class="jobsdone">
    <div class="tabtitle">
      <ion-button (click)="gotoServiceRequest()">
        Request Service
      </ion-button>
      <span>Requests</span>
    </div> 
  </div>

  <ion-row>

    <ion-col size="4" class="dash_div_right">
      <div>
        <span class="dash_icon"><ion-icon name="pin"></ion-icon></span>
        <span class="dash_small">Request</span>     
      </div>
      <div>
        <p class="dash_large">{{requests_count}}</p>
      </div>
    </ion-col>

    <ion-col size="4" >
      <div>
        <span class="dash_icon"><ion-icon name="speedometer"></ion-icon></span>
        <span class="dash_small">Drivers</span >     
      </div>
      <div>
        <p class="dash_large">{{drivers_count}}</p>
      </div>
    </ion-col>

    <ion-col size="4" class="dash_div_left">
      <div>
        <span class="dash_icon"><ion-icon name="person"></ion-icon></span>
        <span class="dash_small">Client</span>     
      </div>
      <div>
        <p class="dash_large">{{clients_count}}</p>
      </div>
    </ion-col>


    <!-- <ion-col size="12">
      <div>
        <p class="welcome_msg">Where are you moving your package<br><span class="small_green">from</span>?</p>
      </div>
    </ion-col> -->

    <!-- <ion-col size="1" >
      <ion-icon name="pin"></ion-icon>
    </ion-col> -->
    <!-- <ion-col size="8" >
      <ion-input class="location_input" placeholder="East Legon" [(ngModel)]="phonenumber" name="phonenumber" type="text" (click)="gotoServiceRequest()" ></ion-input>
    </ion-col> -->

  </ion-row>

  <ion-row>

    <img class="home_img" src="assets/imgs/town.png" alt="logo">
  </ion-row>


  <ion-row>

    <ion-col size="6">
      <ion-button class="add_btn" (click)="gotoDriverCreate()" fill="outline">
        <ion-icon class="icon_add" name="add"></ion-icon>
        ADD DRIVER
      </ion-button>
    </ion-col>
    

    <ion-col size="6">
      <ion-button class="add_btn" (click)="gotoClientCreate()" fill="outline">
        <ion-icon class="icon_add" name="add"></ion-icon>
        ADD CLIENT
      </ion-button>
    </ion-col>

  </ion-row>


  <!-- <div class="jobsdone">
    <div class="tabtitle">
      <ion-button (click)="gotoServiceRequest()">
        Request Service
      </ion-button>
      <span>Old Trips</span>
    </div> 

    <div *ngIf="nodata" class="no-record"><span>No Request</span></div>

    <div class="joblist">
      <div *ngIf="!nodata" class="card-component ion-no-padding">
        <ion-grid fixed class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" size-lg="4" size-xl="4" *ngFor="let job of jobmarket">
              <ion-card class="ion-no-padding">
                <div (click)="gotoDetails(job)">
                  <img class="card-image" id="img" [src]="jobImageUrl+job?.REQ_PHOTO" alt="jobs"
                    (error)="img.src='assets/imgs/default.jpg'" #img>
                  <div class="card-user">
                    <ion-avatar shadow>
                      <img [src]="jobImageUrl+job?.REQ_PHOTO" id="photo" (error)="photo.src='assets/imgs/default.jpg'"
                        #photo />
                    </ion-avatar>
                  </div>
                  <ion-card-content class="card-data">
                    <h5>{{job?.REQ_SERVNAME}} <span>{{api.timeSince(job?.REQ_DATEADDED)}}</span></h5>
                    {{job?.REQ_JOB_DESCRIPTION}}
                  </ion-card-content>
                </div>
                <ion-grid fixed>
                  <ion-row class="card-options">
                    <ion-col size="4" *ngIf="usertype!='1'"><button
                        (click)="acceptJob(job?.REQ_CODE, job?.REQ_SERVCODE, job?.REQ_REQUESTOR_CODE)">
                        <ion-icon slot="icon-only" src="assets/icon/tick.svg"></ion-icon>
                        <span>{{api.filterAccepts(job?.REQ_ACCEPT_COUNT)}}</span>
                      </button></ion-col>
                    <ion-col size="4" *ngIf="usertype=='1'"><button>
                        <ion-icon slot="icon-only" src="assets/icon/heart.svg"></ion-icon>
                        <span>{{api.filterAccepts(job?.REQ_ACCEPT_COUNT)}}</span>
                      </button></ion-col>
                    <ion-col size="4"><button (click)="comments(job?.REQ_CODE)">
                        <ion-icon slot="icon-only" src="assets/icon/chat.svg"></ion-icon>
                        <span>{{api.filterAccepts(job?.REQ_COMMENT_COUNT)}}</span>
                      </button></ion-col>
                    <ion-col size="4"><button (click)="share()">
                        <ion-icon slot="icon-only" src="assets/icon/share.svg"></ion-icon>
                      </button></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div> -->
</ion-content>