
<ion-content  class="ion-padding" class="bg_color">


  <ion-row>

    <img class="home_img" src="assets/imgs/towngif.gif" alt="logo">
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <p class="welcome_msg"> <br><span class="small_green">Order Successful!</span></p>
      <p class="welcome_msg_small"> Connnecting you to a Driver </p>
    </ion-col>
    <ion-col size="12" class="center">
      <ion-button class="next_btn" color="white" (click) = "gotoHome()">
        Go to home  &nbsp; <ion-icon class="secondary_color" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>