
.bigtxt_list{
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1.2em;
}

.close_btn{
    float: right;
    font-size: 1.2em;
    margin-right: 1.5em;
    margin-bottom: 0;
}


.car_icon{
    height: 2.5em;    
    margin-right: 1em;
}