
<ion-content>

    <div class="login">

        <div class="signup">
          <p class="bigtxt_list">
            <span class="quest_small" style="margin-bottom: 0;">Select a Truck for your work </span>
            <span class="quest_small close_btn" (click)="closeModal();"><ion-icon name="close"></ion-icon></span>
          </p>
        </div>

        <div>
          <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" name="searchTerm">
          </ion-searchbar>
        </div>

        <div>
          <ion-list>
            <div *ngFor="let entry of truckslist">
              <ion-item (click)="closeModal(entry);">
                <img class="btn_img car_icon" src="{{photoUrl}}{{entry.TRUCK_URL}}" alt="logo">
                <ion-label>{{entry.TRUCK_NAME}}</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>

</ion-content>
