<ion-content welcomepage class="ion-padding">
  <div class="wraper">
    <!-- <img id="logo" src="assets/imgs/logo.svg" alt="logo" /> -->
    <ion-slides mode="ios" pager="ios" (ionSlideReachEnd)="showStartButton($event)" (ionSlidePrevEnd)="hidebutton($event)">
      <ion-slide>
        <img src="assets/imgs/welcome.svg" alt="welcome">
        <h1>Welcome to Ejuma Hub</h1>
        <p>Where clients, Artisans and Merchants meet...</p>
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/welcome-artisan.svg" alt="artisan">
        <h1>Artisan</h1>
        <p>Get the best certified artisan to get your job done on time. </p>
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/welcome-merchant.svg" alt="merchant">
        <h1>Merchant</h1>
        <p>Buy tools, equipments, building materials, pumbing fittings etc with just a click. </p>
      </ion-slide>
    </ion-slides>

    <ion-button *ngIf="showbutton" id="loginbtn" color="primary" expand="block" shape="round" (click)="gotoLoginPage()">Start</ion-button>
  </div>
</ion-content>