
.client{
    margin: 0 auto;
    padding: 4rem 10px;
    width: 330px;
}

.login{
    width: 100%;
}

.padding{
    padding: 4rem 10px;
}

.bigtxt{
    text-align: left;
    margin: 0;
    padding-left: 0.3em;
    font-size: 2.4em;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.primary_color{
    color: #1cb74b;
}

.secondary_color{
    color: black;
}

.quest_small{
    font-size: 0.4em !important;
}

.back_btn{
    margin-top: 2em;
    padding-left: 0;
    color: #000;
}

.button-native{
    padding-left: 0 !important;
}

.next_btn{
    margin: 2em;
    float: right;
    color: #1cb74b;
}


.prev_btn{
    margin: 2em;
    float: left;
    color: #9a9a9a;
}
.label{
    color: #707070;
}

.field{
    margin-top: 0.8em;
}


.country{
    font-size: 12px;
}

.countrycode{
    font-size: 12px;
}

.countdiv{
    margin-top: 10px;
}