 
<ion-content class="ion-padding">

  <div>
      <ion-button class="back_btn" *ngIf="!disableBackBtn" color="white" routerLink='/init/login'>
          <ion-icon name="arrow-back"></ion-icon> &nbsp; back
      </ion-button>
      <ion-button class="back_btn" color="white" *ngIf="!disablePrevBtn" (click)="swipePrev()">
          <ion-icon name="arrow-back"></ion-icon> &nbsp; Prev  
      </ion-button>
  </div>

  
 
   <div>
      <form #form="ngForm" (ngSubmit)="userSignup(form.value)" id="myform" >
  
        
        <ion-slides pager="true"  pager="false" #mySlider (ionSlideWillChange)="doCheck()"  >

            <ion-slide>
                <div class="login">
 
                   <div class="signup">
                     <p class="bigtxt"><span class="quest_small"> What's your </span> <br> Phone <span class="primary_color">Number</span>?</p>
                   </div>
               
                   <ion-row>
                    <br><br>
                    <ion-col size="4">
                      <ion-item (click)="openModal()" class="countdiv">
                        <p class="country">{{country}} <br> <span class="countrycode">( {{countrycode}} )</span> </p>
                      </ion-item>
                    </ion-col>
                    <ion-col size="8" class="field">
                      <ion-item>
                        <ion-input placeholder="+233xxxxxxxxx" [(ngModel)]="phonenumber" name="phonenumber" type="text" ></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  
               </div>
           </ion-slide>

          <ion-slide>
              <div class="login">
                  <div class="signup">
                    <p class="bigtxt"><span class="quest_small"> What's your </span> <br> Fullname?</p>
                  </div>
              
                  <ion-row>
                    <br><br>
                    <ion-col size="12" class="field">
                        <ion-item>
                          <ion-label position="floating" class="label">First Name</ion-label>
                          <ion-input  ngModel name = "firstname" type="text" ></ion-input>
                        </ion-item>
                    </ion-col>
              
                    <br><br>
                    <ion-col size="12" class="field">
                        <ion-item>
                          <ion-label position="floating" class="label">Last Name</ion-label>
                          <ion-input ngModel name = "lastname" type="text" ></ion-input>
                        </ion-item>
                    </ion-col>
                  </ion-row>
               </div>
          </ion-slide>

          <ion-slide>

              <div class="login">
                  <div class="signup">
                    <p class="bigtxt"><span class="quest_small"> What's your </span> <br> Gender?</p>
                  </div>
              
                  <ion-row>
                    <br><br>
                    <ion-col size="12" class="field">
                        <ion-list>
                            <ion-radio-group ngModel name = "gender">
                              <ion-item>
                                <ion-label>Male</ion-label>
                                <ion-radio slot="start"  value="male" id="male"  checked></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Female</ion-label>
                                <ion-radio slot="start" value="female" id="female"  > </ion-radio>
                              </ion-item>
                          
                            </ion-radio-group>
                          </ion-list>
                    </ion-col>
                  </ion-row>
               </div>
          </ion-slide>
       
        </ion-slides>
      </form>
   </div>

   
</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-button class="next_btn" color="white" *ngIf="!disableNextBtn" (click)="swipeNext()">
            Next  &nbsp; <ion-icon class="secondary_color" name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button class="next_btn" color="white" *ngIf="!disableSubmitBtn" (click)="subform()">
            Submit  &nbsp; <ion-icon class="secondary_color" name="arrow-forward" ></ion-icon>
        </ion-button>

    </ion-toolbar>
  </ion-footer> 
